version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: sokolmax
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: expensesdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    environment:
      DATABASE_URL: postgresql://sokolmax:12345@db:5432/expensesdb
      JWT_ACCESS_SECRET: your-access-secret
      JWT_REFRESH_SECRET: your-refresh-secret
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  pgdata:
